<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Fragment Test</h1>


    <th:block th:replace="~{/fragments/fragment3 :: target(~{this:: #ulFirst}, ~{this:: #ulSecond})}">
        <ul id="ulFirst">
            <li>AA</li>
            <li>BB</li>
            <li>CC</li>
        </ul>

        <ul id="ulSecond">
            <li>AA1</li>
            <li>BB2</li>
            <li>CC3</li>
        </ul>

    </th:block>



</body>
</html>